openshift_master_default_subdomain=apps.{{ clusterid }}.{{ dns_domain }}
openshift_master_cluster_hostname=internal.{{ clusterid }}.{{ dns_domain }}
openshift_master_cluster_public_hostname={{ clusterid }}.{{ dns_domain }}
